[submodule "custom/extensions/AlphabeticalAppGrid@stuarthayhurst"]
	path = custom/extensions/AlphabeticalAppGrid@stuarthayhurst
	url = https://github.com/stuarthayhurst/alphabetical-grid-extension.git
[submodule "custom/extensions/freon@UshakovVasilii_Github.yahoo.com"]
	path = custom/extensions/freon@UshakovVasilii_Github.yahoo.com
	url = https://github.com/UshakovVasilii/gnome-shell-extension-freon
[submodule "custom/extensions/status-area-horizontal-spacing@mathematical.coffee.gmail.com"]
	path = custom/extensions/status-area-horizontal-spacing@mathematical.coffee.gmail.com
	url = https://gitlab.com/p91paul/status-area-horizontal-spacing-gnome-shell-extension.git
[submodule "custom/extensions/just-perfection-desktop@just-perfection"]
	path = custom/extensions/just-perfection-desktop@just-perfection
	url = https://gitlab.gnome.org/jrahmatzadeh/just-perfection.git
[submodule "custom/extensions/netspeed@alynx.one"]
	path = custom/extensions/netspeed@alynx.one
	url = https://github.com/AlynxZhou/gnome-shell-extension-net-speed.git
[submodule "custom/extensions/simple-weather@romanlefler.com"]
	path = custom/extensions/simple-weather@romanlefler.com
	url = https://github.com/romanlefler/SimpleWeather.git
[submodule "custom/extensions/background-logo@fedorahosted.org"]
	path = custom/extensions/background-logo@fedorahosted.org
	url = https://forge.fedoraproject.org/workstation/background-logo-extension.git
[submodule "custom/extensions/lockkeys@vaina.lt"]
	path = custom/extensions/lockkeys@vaina.lt
	url = https://github.com/kazysmaster/gnome-shell-extension-lockkeys.git
[submodule "custom/extensions/Bluetooth-Battery-Meter@maniacx.github.com"]
	path = custom/extensions/Bluetooth-Battery-Meter@maniacx.github.com
	url = https://github.com/maniacx/Bluetooth-Battery-Meter.git
[submodule "custom/extensions/Battery-Health-Charging@maniacx.github.com"]
	path = custom/extensions/Battery-Health-Charging@maniacx.github.com
	url = https://github.com/maniacx/battery-health-charging.git
[submodule "custom/extensions/copyous@boerdereinar.dev"]
	path = custom/extensions/copyous@boerdereinar.dev
	url = https://github.com/boerdereinar/copyous.git
